<?xml version="1.0"?> 
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore> 
      <sitecore.experienceeditor.speak.requests> 
      <request name="LayoutModesComparer.Versions.FinalLayoutNotificationMessage" type="LayoutModesComparer.Pipelines.Messages.FinalLayoutMessage, LayoutModesComparer" />
      <request name="LayoutModesComparer.Versions.SharedLayoutMessage" type="LayoutModesComparer.Pipelines.Messages.SharedLayoutMessage, LayoutModesComparer" /> 
      </sitecore.experienceeditor.speak.requests>

    <commands>
      <command name="webedit:undoComponentsChanges" type="LayoutModesComparer.Commands.ResetComponentsChanges,LayoutModesComparer"/>
      <command name="webedit:recreateComponent" type="LayoutModesComparer.Commands.RecreateComponent,LayoutModesComparer"/>
    </commands>
  </sitecore>
</configuration>